
        <div class="block-detail block-treatment-apply">
            <div class="row">
                <div class="span6 control-group">
                    {{ form_errors(form.horse_id) }}
                    {{ form_label(form.horse_id) }}
                    {{ form_widget(form.horse_id) }}
                </div>
                <div class="span5 control-group">
                    {{ form_errors(form.treatment_id) }}
                    {{ form_label(form.treatment_id) }}
                    {{ form_widget(form.treatment_id) }}
                </div>
            </div>
            <div class="row">
                <div class="span6 control-group">
                    {{ form_errors(form.apply_date) }}
                    {{ form_label(form.apply_date) }}
                    {{ form_widget(form.apply_date) }}
                </div>
            </div>
        </div>
        
        <div class="block-detail block-description">
            <div class="row">
                <div class="span12 control-group">
                    {{ form_errors(form.description) }}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
        </div>
        
        {{ form_rest(form) }}
        
        <div class="submit-form">
            <button type="submit" class="btn btn-success">
                <i class="icon-ok icon-white"></i>
                Enregistrer
            </button>
            <a href="{{ url('treatment-apply') }}" class="btn btn-warning">
                <i class="icon-th-list icon-white"></i>
                Retour à la liste
            </a>
        </div>
        