        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse navbar-responsive-collapse">
                        <ul class="nav">
                            <li>
                                <a href="{{ url('homepage') }}">Accueil</a>
                            </li>
                        </ul>
                        
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Paramétrage <b class="caret"></b></a>
                                
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Paramétrage</li>
                                    <li><a href="{{ url('customers') }}">Clients</a></li>
                                    <li><a href="{{ url('horses') }}">Chevaux</a></li>
                                    <li><a href="{{ url('treatments') }}">Types de soins</a></li>
                                    <li><a href="{{ url('cards') }}">Types de cartes de séances</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>