<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ request.getSchemeAndHttpHost() }}{{ css('bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ request.getSchemeAndHttpHost() }}{{ css('print.css') }}" rel="stylesheet">
        <link href="{{ request.getSchemeAndHttpHost() }}{{ css('bootstrap.min.css') }}" rel="stylesheet" media="print">
        <link href="{{ request.getSchemeAndHttpHost() }}{{ css('print.css') }}" rel="stylesheet" media="print">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {{ get_config('company_name') }} - SIRET : {{ get_config('company_siret') }} - TVA. non applicable, art. 293 B du CGI.
        </div>
    </body>
</html>